{% extends 'base.html' %}

{% block head %}
          <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
          <meta charset="utf-8">
          <title>AirBook</title>
    <style>
          #map {
        height: 100%;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
    </style>
{% endblock %}

{% block content %}
    <div class="container">
        <form class="form-horizontal", method="GET">
            <div class="row">
                <div class="col-sm-5">
                <input name='keyword' class="form-control" placeholder="Enter your location">
                </div>
                <div class="col-md-2">
                    <select class="form-control" name="roomtype" onchange="getRoomType(this.value)">
                        <option selected="selected" disabled>Room Type</option>
                        <option value="Shared room">Shared room</option>
                        <option value="Private room">Private room</option>
                        <option value="Entire home/apt">Entire home/apt</option>
                    </select>
                </div>
                <button type="submit" class="btn btn-primary" value="Submit" onclick="searchKeyWord()">Submit</button>
            </div>
        </form>
    </div>
    <br/>
    <div class="container">
        <p>{{ address }}</p>
        <p>{{ message }}</p>
    </div>
    <div id="map", class="container"></div>
     <script>
        function initMap() {   //init map
            map = new google.maps.Map(document.getElementById('map'), {
                zoom: 4,
                center: new google.maps.LatLng(40.694439, -73.986536),
                mapTypeId: 'terrain'
            });
            //add
            google.maps.event.addListener(map, 'click', function(event){
                latLong = event.latLng;
                update_timeout = setTimeout(function(){
                  coordinates = event.latLng;
                  latitude = coordinates['lat']();
                  longitude = coordinates['lng']();
                  this.map.setCenter(latLong);
                  this.map.setZoom(6);
                }, 200);
            });
            //Ignore double clicks
            google.maps.event.addListener(map, 'dblclick', function(event) {
                clearTimeout(update_timeout);
            });
        }

        function getRoomType(keyWord) {
            roomType = keyWord;
        }

        function getKeyword(){
            keyWorkd = document.getElementsByName("keyword");
        }
        function searchKeyWord() {
            if(keyWord != undefined && roomType != undefined){
                var url = 'json/'.concat(keyWord).concat('/').concat(roomType).concat('/');
                $.getJSON(url,parseJSON);
            }
        }



    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAzqsrd9qkXn7qoQSJJwCkhIMM77OffJSI&callback=initMap">
    </script>
{% endblock %}