{% extends 'base.html' %}
{% load static %}
{% block head %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <title>AirBook</title>
    <link rel="stylesheet" type="text/css" href="{% static 'map.css' %}">
{% endblock %}

{% block content %}
    <div class="container">
            <div class="row">
                <div class="col-sm-5">
                <input id='keyword' name='keyword' class="form-control" placeholder="Enter your location">
                </div>
                <div class="col-md-2">
                    <select class="form-control" name="roomtype" onchange="getRoomType(this.value)">
                        <option selected="selected" disabled>Room Type</option>
                        <option value="Shared room">Shared room</option>
                        <option value="Private room">Private room</option>
                        <option value="Entire home/apt">Entire home/apt</option>
                    </select>
                </div>
                <button type="submit" class="btn btn-primary" value="Submit" onclick="searchKeyWord()">Submit</button>
            </div>
    </div>
    <br/>
     <div class="container">
         <div id="average_price"></div>
     </div>
    <br/>
    <div id="map", class="container"></div>
    <script src="{% static 'map.js' %}"></script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAzqsrd9qkXn7qoQSJJwCkhIMM77OffJSI&callback=initMap"></script>
{% endblock %}