<!DOCTYPE html>
    {% load staticfiles %}
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        <script src="/static/jquery-3.1.1.min.js"></script>
    {% block head %}
    {% endblock %}
    <link href="static/style.css" rel="stylesheet">
    </head>
    <body>
        <nav class="navbar bg-faded " style="height: 50px;">
              <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <a href="/"><img class="header-logo" src='{% static "logo.png" %}' alt="Airbook logo" style="width:60px"></a>
                </div>
                  <ul class="nav nav-pills">
                      <li class="pull-right"><a href="login">Login </a></li>
                      <li class="pull-right"><a href="signup">Signup</a></li>
                  </ul>
              </div><!-- /.container-fluid -->
        <div class="progress" style="background-color:white; height:5px">
            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="height: 5px"></div>
        </div>
        </nav>
        {% block content %}
        {% endblock content %}
        <footer class="site-footer">
            <div class="container">
                <hr>
                <p class="text-center">
                    <a href="mailto:lilixu@nyu.edu?subject=Feedback" id="chat-link" target="_blank">
                    <i class="glyphicon glyphicon-envelope"></i>Send Feedback</a>
                </p>
                <p class="text-center">Copyright © 2017 Graindog</p>
            </div>
        </footer>
    </body>
</html>